.centerMe{
    display: flex;
    align-items:  center;
    justify-content: center;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
}
.canvasDiv{
    display: flex;
    align-items:  center;
    justify-content: center;
}
canvas {
    height:99%; 
    width: 99%;
}